dev:
  STAGE: dev
  MSA_BASE_URL: "https://sql-adapter.marketpowerpro.com"
  MPP_CLIENT_NAME: "Zing Performance Ltd."
  MPP_CLIENT_APP_ID: "ff2efbe1-b3ec-49f2-a7f7-c47f0ec23e2e"
  ZING_SYSTEM_BASE_URL: "http://stag.portal.zingperformance.com/zing-api-v1"
  ZING_SYSTEM_API_KEY: ""
  VERA_SYSTEM_BASE_URL: "https://gotozing.com/api/multisoft"
  VERA_SYSTEM_API_KEY: ""
  VERA_DEFAULT_ROOT_SPONSOR_ID: "100000"
  SSM_PARAM_NS: ${self:custom.ssmParamNamespace}
  SNS_TOPIC_ARN:
    'Fn::ImportValue': 'MPPClientsInternalTopicArn-dev'
  SNS_INTERNAL_TOPIC_ARN:
    'Fn::ImportValue': 'MPPClientsInternalTopicArn-dev'
  DEFAULT_NOTIFY_RETRIES_THRESHOLD: 10
  REINVOKER_FUNCTION_ARN:
    'Fn::ImportValue': 'ReinvokerFunctionArn-dev'
  SQS_FAILED_QUEUE_URL:
    'Fn::ImportValue': 'LambdaRetriesQueueURL-dev'
prod:
  STAGE: prod
  MSA_BASE_URL: "https://sql-adapter.marketpowerpro.com"
  MPP_CLIENT_NAME: "Zing Performance Ltd."
  MPP_CLIENT_APP_ID: "ff2efbe1-b3ec-49f2-a7f7-c47f0ec23e2e"
  ZING_SYSTEM_BASE_URL: "https://portal.zingperformance.com/zing-api-v1"
  ZING_SYSTEM_API_KEY: ""
  VERA_SYSTEM_BASE_URL: "https://gotozing.com/api/multisoft"
  VERA_SYSTEM_API_KEY: ""
  VERA_DEFAULT_ROOT_SPONSOR_ID: "100000"
  SSM_PARAM_NS: ${self:custom.ssmParamNamespace}
  SNS_TOPIC_ARN:
    'Fn::ImportValue': 'MPPClientsInternalTopicArn-prod'
  SNS_INTERNAL_TOPIC_ARN:
    'Fn::ImportValue': 'MPPClientsInternalTopicArn-prod'
  DEFAULT_NOTIFY_RETRIES_THRESHOLD: 10
  REINVOKER_FUNCTION_ARN:
    'Fn::ImportValue': 'ReinvokerFunctionArn-prod'
  SQS_FAILED_QUEUE_URL:
    'Fn::ImportValue': 'LambdaRetriesQueueURL-prod'
